.header {
    display: flex;
    position: relative;
    width: 288px;
    height: 42px;
    margin: 16px auto 0;
    justify-content: flex-end;
}

@media screen and (min-width:768px) {
    .header{
        width: 720px;
        height: 52px;
        margin: 28px auto 0;
    }
}
@media screen and (min-width:1024px) {
    .header{
        width: 928px;
        height: 52px;
    }
}

@media screen and (min-width:1280px) {
    .header{
        width: 1184px;
    }
}