.place__paragraph {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    margin-top: 25px;
    
}

.place__paragraph:first-of-type {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        width: 456px;
        font-size: 18px;
        margin-top: 26px;
    }
}