.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(320px - 32px);
    max-height: 310px;
    margin: 64px auto 0;
}

@media  screen and (min-width: 768px) {
    .footer {
        width: 720px;
        max-height: 18px;
        margin: 88px auto 24px;
        flex-direction: row;
    }
}

@media  screen and (min-width: 1024px) {
    .footer {
        width: 928px;
        margin: 92px auto 24px;
    }
}

@media  screen and (min-width: 1280px) {
    .footer {
        width: 1184px;
    }
}